<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../show.css" type="text/css">
    <title>Book Show Page</title>
</head>

<body>
    <div class="showcontainer">
        <!-- <div id="Show"></div> -->
        <div class="showdiv1">
            <h2><%= book.name %></h2> <br>

            <a href="/library/<%= book.id %> "><img src=" <%= book.img%>" alt=""> </a> <br>
            <h6>Price:</h6>
            <h6><%= book.price %></h6> <br>

        
            <div class="checked">
                <div class="star">
                    <link rel="stylesheet"
                        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    </p>
                </div>
        </div>


        <div class="showinfo">
            <p class="showgenre">
            <h4>Genre: <%= book.genre %> </h4>
            </p>
            <p>
                Overview: <%= book.overview %>
            </p>

            <div>
                <button class="Add to Wishlist" data-id="3">Add to Wishlist</button></li>
            </div>

            <div>
                <button class="Borrow Book" data-id="3">Borrow Book</button></li>
            </div>


            <nav>
                <div class="nav">
                <a href="/library">Library</a>
            </nav>
        </div>
        </div>
    </div>



</body>

</html>